name: 'Test Run'

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'The version of mkr to install.'

jobs:
  run:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: ./
        with:
          mkr-version: ${{ github.event.inputs.version }}
      - run: mkr org
        env:
          MACKEREL_APIKEY: ${{ secrets.TEST_MACKEREL_APIKEY }}
